html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
    border: solid 1px black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: black;
}
nav {
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    position: fixed;
    width: 100%;
}

ul  {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 20px;
    padding: 10px;
}
 ul a{
    padding: 10px;
 }
 
 /*idk why mine looks so ugly im sorry LOL*/